body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  padding: 25px;
}

#subtitleFile {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: small;
  max-width: auto;
}

#subtitlesContainer {
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  top: 65px;
  bottom: 70px;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AAAAAA;
}

.subtitle {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-size: larger;
  opacity: 0.25;
}

.currentSubtitle {
  opacity: 1;
}

.btn {
  position: fixed;
  height: 35px;
  bottom: 0px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disable blue highlight on mobile */
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.btnIcon {
  color: #fff;
}

.btnIcon:hover {
  color: #AAAAAA;
}

#playPauseButton {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#settingsButton {
  right: 20px;
  transform: translateY(-50%);
}

#timestamp {
  position: fixed;
  bottom: 0px;
  left: 20px;
  height: 30px;
  font-size: medium;
  transform: translateY(-50%);
  text-align: center;
  display: flex;
  align-items: center;
}

#scrollToCurrentSubtitle {
  left: 50%;
  width: 150px;
  font-size: large;
  border-radius: 100px;
  background: white;
  color: #000;
  transition: bottom 0.3s ease-in-out, opacity 0.2s ease-in-out;
  transform: translateX(-50%) translateY(-50px);
  opacity: 0;
  bottom: -100px;
}

#scrollToCurrentSubtitle:hover {
  background: #AAAAAA;
}

#scrollToCurrentSubtitle.visible {
  opacity: 0.75;
  bottom: 50px;
  transition: bottom 0.3s ease-in-out, opacity 0.4s ease-in-out;
}