body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  padding: 25px;
}

#subtitleFile {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: small;
  max-width: auto;
}

#subtitlesContainer {
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  top: 65px;
  bottom: 70px;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

.subtitle {
  margin-bottom: 30px;
  color: gray;
  text-align: center;
  font-size: larger;
}

.currentSubtitle {
  color: #fff;
}

button, #settingsIcon {
  cursor: pointer;
}

#playPauseButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 30px;
  font-size: medium;
}

#settingsIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: xx-large;
}

#timestamp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: medium;
}